<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Analysis</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Expense Analysis</h1>
      <img
        src="{{ url_for('static', filename='analysis.png') }}"
        alt="Expense Analysis"
        class="img-fluid"
      />
      <a href="{{ url_for('index') }}" class="btn">Back</a>
    </div>
  </body>
</html>
